* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Madani Arabic", sans-serif;
}

.html,
body {
  width: 100%;
  height: 100%;
  font-family: "Madani Arabic", sans-serif;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  width: 100%;
  height: 100%;
}

.header-section {
  display: flex;
  width: 100%;
  height: 90px;
  background: transparent;
  position: fixed;
  z-index: 9;
  top: 0;
  transition: all 0.5s;
}

.course-section {
  display: flex;
  flex-direction: row;
  position: relative;
}

.header-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 3rem;
  gap: 70px;
}

.navColor {
  background-color: rgb(65, 57, 57);
  display: flex;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  transition: all 0.5s;
  z-index: 9;
}

.navColor .header-item li a {
  color: white;
}

.header-item li {
  line-height: 1;
  list-style: none;
  letter-spacing: 1.6px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.header-item li a {
  text-decoration: none;
  color: rgb(20, 10, 10);
}

.header-item li i {
  margin-left: 5px;
  margin-bottom: 4px;
  cursor: pointer;
}

.header-item img {
  height: 3.2rem;
  margin-top: -13px;
}

.contact-btn {
  font-size: 14px;
  background-color: rgba(255, 255, 255, 255);
  height: 3rem;
  width: 9rem;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.3s;
  margin-top: -5px;
  color: black;
}

.contact-btn:hover {
  background-color: #f1e4e4;
}

.container {
  width: 100%;
  margin: 5rem 10rem;
}

.container2 {
  width: 100%;
  margin: 5rem 0rem;
}

.first-section {
  width: 100%;
  margin-top: 10rem;
  display: flex;
  gap: 8rem 12rem;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 0rem;
}

.cropped-1 {
  width: 20rem;
  height: 30rem;
  background-color: #192936;
  border-top-right-radius: 20rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  position: relative;
  width: calc(33.3% - 8rem);
  padding: 1px 10px;
  box-shadow: 3px 3px rgb(93, 105, 151);
}

.cropped-1 p {
  letter-spacing: 1px;
  line-height: 20px;
}

.first-section .cropped-1 img {
  height: 3.5rem;
  position: absolute;
  right: 21px;
  top: 70px;
}

.second-section {
  height: 65vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footer {
  padding: 5rem;
  background-color: rgb(65, 57, 57);

  display: flex;
  justify-content: center;
  align-items: center;
}
.footer h1 {
  color: white;
}

.copyright {
  width: 100%;
  padding: 60px 30px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
}

.cropped-1 img {
  height: 3rem;
}

.top50 {
  height: 40%;
}

.bottom50 {
  flex-direction: column;
  padding: 5px 10px;
  display: flex;
  gap: 9px;
}

.bottom50 p {
  color: black;
}

.bottom50 button {
  margin: 12px 0;
  width: 2.5rem;
  padding: 2px 10px;
  background-color: yellow;
  border: none;
  border-radius: 6px;
}

.color-div-section {
  width: 100%;
  margin-top: 10rem;
  display: flex;
  gap: 8rem 3rem;
  justify-content: center;
  flex-wrap: wrap;
}

.color-div-card {
  width: 28rem;
  height: 21rem;
  background-color: rgb(50 6 6);
  gap: 20px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  border-radius: 1rem;
  /* box-shadow: 5px 5px white; */
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #00838d;
  border-radius: 0 4px 0 42px;
}

.color-div-card {
  display: block;
  position: relative;
  max-width: 28rem;
  background-color: #192936;
  /* background-color: #855656; */
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  border-radius: 1rem;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: rgb(201 70 70);
    height: 42px;
    width: 42px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  &:hover:before {
    transform: scale(30);
  }
}

.color-div-card:hover {
  p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  h3 {
    transition: all 0.3s ease-out;
    color: #ffffff;
  }
}

.highlight-color {
  height: 4rem;
  width: 3rem;
  position: absolute;
  right: 0;
  top: 0;
  background-color: yellow;
  border-bottom-left-radius: 10rem;
}

.color-div-card p,
.cropped-1 p,
.cropped-1 h2 {
  font-family: "Poppins";
  color: rgb(223, 209, 209);
}

.color-div-card h2 {
  font-family: "Poppins";
  color: rgb(243, 232, 232);
}

.direction-box {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.direction-buttons button {
  font-family: "Poppins";
  font-size: 11px;
  letter-spacing: 0.5px;
  width: 3.45rem;
}

.direction-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.learn-more-btn {
  background-color: transparent !important;
  cursor: pointer;
  width: 7rem !important;
  font-size: 16px;
  color: rgb(243, 232, 232);
}

.bottom50 .title-p {
  font-size: 18px;
  font-weight: 600;
}

.bottom50 .college-p {
  font-size: 16px;
}

.event-description {
  font-size: 14px;
  z-index: 9;
}

.learn-more-btn2 {
  background-color: transparent !important;
  cursor: pointer;
  width: 7rem !important;
  font-size: 16px;
  color: rgb(243, 232, 232);
}

.start-end-div {
  display: flex;
  flex-direction: row;
}

.event-image {
  max-width: 28rem;
  height: 21rem;
  right: 0;
  top: 0;
  position: absolute;
  opacity: 0.09;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  width: auto;
  height: auto;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.event-detail-img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 100% 90%, 50% 100%, 0 90%);
}

.back-to-events-btn,
.close-form-btn,
.add-form-btn {
  padding: 0.7rem 0.7rem;
  width: auto;
  border-radius: 5px;
  border: none;
  margin: 0.5rem;
  background-color: rgb(65, 57, 57);
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
}

.google-keep {
  cursor: pointer;
  position: fixed;
  right: 2.5rem;
  top: 6rem;
}

.input-form-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.input-form-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
}

.notes-div {
  height: 10rem;
  width: 10rem;
  background-color: antiquewhite;
}

.notes-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.note {
  min-width: 50%;
  max-width: 100%;
  margin: 5px;
  padding: 10px;
  background-color: #f9fff7;
  border-radius: 5px;
  overflow-y: auto;
  min-height: 50px;
  word-wrap: break-word; /* Allow long words to wrap */
  height: auto; /* Allow the div to adjust its height */
}

/*Admin Panel*/

/* styles.css */

.create-section {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: #ffffff;
  width: 40%;
  padding: 2.5rem;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

h1 {
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="number"],
input[type="date"],
select,
input[type="file"] {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
}

button {
  width: 100%;
  padding: 1rem;
  background-color: #2563eb;
  color: #ffffff;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
}

.error-message {
  font-size: 0.875rem;
  color: #e53e3e;
}

.event-container {
  padding-top: 90px;
}

.event-details {
  display: flex;
  flex-direction: column;
  padding-top: 25rem;
  padding-left: 8rem;
  padding-right: 8rem;
  gap: 20px;
  margin: 5rem 5rem;
  position: relative;
}

.event-details p,
h1 {
  font-family: "Poppins";
  letter-spacing: 1px;
  line-height: 30px;
}

.event-details h1 {
  text-transform: uppercase;
  font-size: 38px;
}

.date-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.start-end-container {
  margin: 0;
  position: relative;
  right: 10rem;
  top: 8.5rem;
}

.event-detail-tag {
  width: 5rem;
  height: 3rem;
}

.manpower-resource-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 5rem 3rem;
  gap: 8rem;
}

.manpower-container {
  width: 50vw;
}

.resource-container {
  width: 50vw;
}

.resource-table {
  width: 100%;
}

.manpower-table {
  width: 100%;
}

.manpower-tr,
.resource-tr {
  height: 3rem;
}

.manpower-th,
.manpower-td,
.resource-th,
.resource-td {
  padding: 8px;
  font-family: "Poppins";
  text-align: left;
  border-bottom: 1px solid #ddd;
  line-height: 30px;
  letter-spacing: 0.7px;
}

.resource-th,
.manpower-th {
  background-color: #f9fafb;
}

.manpower-heading,
.resource-heading {
  font-family: "Poppins";
  font-size: 20px;
  text-align: left;
  height: 4rem;
}

.branding-container {
  padding: 3rem 3rem;
}

.detail-page-svg {
  position: absolute;
  height: 50rem;
  width: 100%;
}

.shape-fill {
  fill: #9f5c5c;
}
/* .shape-wrapper {
  position: relative;
} */

.event-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.event-table td {
  font-family: "Poppins";
  padding: 12px;
  letter-spacing: 1px;
  line-height: 30px;
  vertical-align: top;
  text-align: left;
  /* border-bottom: 1px solid #ddd; */
}

.table-header {
  font-weight: bold;
  width: 30%;
}

.event-detail-tag {
  margin-right: 5px;
}
